<% include ../partials/header %>

<div class="container">
  <!-- Welcome Jumbotron -->
  <div class="jumbotron mt-4">
    <h1 class="display-3">Welcome to Favorite Bands! <i class="fas fa-guitar"></i></h1>
    <hr class="my-4">
    <p class="lead">You've made it to the homepage. Good job. You should see a list of bands here.</p>
    <a class="btn btn-success" href="/bands/new" role="button">Add a new band</a>
  </div>

  <!-- List of bands grid -->
  <div class="row">
    <% bands.forEach(function(band) { %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="clickCard card h-100 border-0">
          <img class="card-img-top img-fluid" src="<%= band.img %>">
          <div class="card-body">
            <h4 class="card-title"><%= band.name %></h4>
            <hr class="mt-1 mb-3">
            <p class="card-text">Some paragraph text describing the band.<%= band.description %></p>
            <a href="<%= band.wiki %>" class="btn btn-primary btn-sm">Wikipedia</a>
            <a class="btn btn-info btn-sm" href="/bands/<%= band._id %>">More Info</a>
          </div>
          <a href="/bands/<%= band._id %>"></a>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>
